/* *********** FONTS ************ */

@font-face {
    font-family: Discord;
    src: url(discord.woff);
}


/* *********** GENERAL ************ */

* {
    box-sizing: border-box;
    font-family: Discord;
}

body {
    margin: 0;
    padding: 0;
}

.icon {
    margin: 5px;
}

.icon:hover {
    color: #ffffff;
    cursor: pointer;
}

.light-grey {
    color: #dcddde;
}

.light-green {
    color: #43B581;
}

.s-48 {
    height: 48px;
    width: 48px;
}

.s-38 {
    height: 38px;
    width: 38px;
}

.centralized {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* *********** SIDE MENU SECTION ************ */

.side-menu {
    background-color: #202225;
    width: 70px;
    float: left;
    top: 0;
    left: 0;
    height: 100vh;
    font-weight: 600;
}

.side-menu_nav {
    list-style-type: none;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.border {
    width: 30px;
    height: 2px;
    background-color: #2F3136;
    bottom: 0;
    margin: 5px;
    border-radius: 10px;
}

.icon-hover-v:hover {
    background-color: #7288D9;
}

.icon-hover-g:hover {
    background-color: #43B581;
}

.icon-hover-v:hover,
.icon-hover-g:hover {
    border-radius: 35%;
}

.icon-hover-v::before,
.icon-hover-g::before {
    transition: opacity 0.5s ease;
    content: '';
    width: 4px;
    height: 20px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    border-radius: 0 50px 50px 0;
    opacity: 0;
}

.icon-hover-v:hover::before,
.icon-hover-g:hover::before {
    opacity: 1;
}

.icon-unactive {
    background-color: #2F3136;
    border-radius: 50%;
    transition: border-radius 0.5s ease;
}

.icon-active {
    background-color: #7288D9;
    border-radius: 35%;
    transition: border-radius 0.5s ease;
    color: white;
}

.icon-active::before {
    content: '';
    width: 4px;
    height: 35px;
    background-color: #ffffff;
    position: absolute;
    left: 0;
    border-radius: 0 50px 50px 0;
}


/* *********** SERVER MENU SECTION ************ */

.server-menu {
    width: 235px;
    height: 100vh;
    background-color: #2F3136;
    float: left;
}

.server-header {
    padding: 0 15px;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    border-bottom: 2px solid #202225;
}

.server-header,
.server-subheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-channel,
.video-channel {
    color: #8e9297;
}

.server-subheader {
    font-size: 12px;
    padding: 10px 15px 0 0;
    font-weight: 600;
}

.server-subheader:hover {
    color: #ffffff;
    cursor: pointer;
}

.server-subtitle {
    text-transform: uppercase;
}

.tc-items {
    list-style-type: none;
    padding: 0 10px 0 10px;
    margin: 0;
}

.tc-items .centralized {
    padding: 5px;
    justify-content: flex-start;
    align-items: end;
    border-radius: 10px;
}

.tc-items li {
    margin: 2px 0;
}

.tc-items li:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.tc-items li:hover span {
    color: #ffffff;
}

.tc-items svg {
    margin-right: 5px;
}

.active-channel {
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
}

.active-channel span {
    color: #ffffff;
}

.active-channel-img::after {
    content: url(img/add_user.svg);
    width: 17px;
    height: 17px;
    position: absolute;
    right: 15px;
}

.user-pannel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #747F8D;
    padding: 10px;
    background-color: #292b2f;
    position: absolute;
    bottom: 0;
    width: 235px;
}

.info-detail {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.info-detail .user-name {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

.user-control {
    display: flex;
    align-items: center;
}

.user-control div {
    padding: 1px 5px;
}

.user-control div:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
    border-radius: 5px;
}

.user-icon {
    background-color: #747F8D;
    border-radius: 50%;
    transition: border-radius 0.5s ease;
    margin: 0 5px 0 0;
}

.user-icon:hover {
    background-color: rgb(152, 161, 172);
}